.body {
	position: relative;
}
.two {
	display: none;
}
.mobile-html {
	display: none;
}
.side-vertical-bar {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.side-vertical-bar .heading {
	font-weight: 900;
	font-size: 30px;
	margin-bottom: 3%;
}

.side-vertical-bar .bar-element {
	padding: 20px;
	position: relative;
}

.main-body,
.main-body-menu-space {
	position: absolute;
	display: flex;
	left: 30%;
}

.main-body {
	top: 20%;
}
.main-body-heading {
	flex: 2;
	font-size: 60px;
	font-weight: 800;
}

.main-body-description {
	flex: 1;
	border-bottom: 5px solid black;
	border-image: linear-gradient(to right, #fa2c2c 30%, #fff 0%) 1;
}

.main-body-menu-space {
	display: flex;
	top: 50%;
	left: 20%;
}

.dishes {
	margin: 3%;
	box-shadow: 10px 30px 30px black;
	border-radius: 10%;
	padding: 5% 5%;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
}
.resize {
	height: 150px;
	width: 130px;
	clip-path: circle(40%);
}

.cart-button {
	position: absolute;
	background-color: red;
	width: 5%;
	padding: 0px 4px;
	border-radius: 30px;
	text-align: center;
	left: 2%;
	margin-top: 20px;
}

@media only screen and (max-width: 800px) {
	.first-description {
		display: none;
	}
	.side-vertical-bar {
		display: none;
	}

	.main-body-heading {
		all: unset;
	}

	.main-body-menu-space {
		all: unset;
	}

	body {
		height: 150vh;
		width: 100vh;
	}

	.mobile-html {
		display: flex;
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.dropdown-icon {
		flex: 1;
	}

	.mobile-html .heading {
		flex: 1;
		text-align: center;
		font-size: 30px;
		font-style: bold;
	}

	.material-icons {
		color: red;
	}

	.cart-icon {
		flex: 1;
		margin-left: auto;
	}
	.material {
		position: absolute;
		right: 0;
	}

	.main-body {
		position: absolute;
		display: block;
		left: 5%;
		top: 15%;
		font-size: 40px;
		font-weight: 900vh;
	}

	.main-body-menu-space {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		top: 30%;
		left: 0;
		margin: 0;
		margin-bottom: 10px;
	}
	.to-hide {
		display: none;
	}

	.two {
		display: block;
	}

	.resize {
		height: 120px;
		width: 80px;
		clip-path: circle(40%);
	}
}
